.map {
  background: #eee;
  isolation: isolate;
  clear: both;
  margin-bottom: 0.4em;
}

.map figcaption {
  text-align: center;
  margin-top: 0.4em;
  padding-bottom: 0.4em;
  color: gray;
  font-size: 70%;
}

.map figure{
      background: #eeeeee;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
}

#mapediting{
	background: #eae8d7;
}

.leaflet-control-freezy-reset {
  border-radius: 4px;
  width: 26px;
  height: 26px;
  border: none;
  background-color: #fff;
  background-image: url('/plugins/map/reset.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.leaflet-control-freeze-button {
  background-image: url('/plugins/map/pan_zoom.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
