.map {
  background: #eee;
  isolation: isolate;
  clear: both;
  margin-bottom: 0.4em;
}

.map figcaption {
  text-align: center;
  margin-top: 0.4em;
  padding-bottom: 0.4em;
  color: gray;
  font-size: 70%;
}

.map figure{
      background: #eeeeee;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
}

#mapediting{
	background: #eae8d7;
}
